<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Follow us on Twitter
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="logo-ionic" slot="start"></ion-icon>
        @ionicframework
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>